<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Thêm Bệnh Nhân</title>
  <link rel="stylesheet" th:href="@{../css/benhnhancss.css}"/>
  <link rel="stylesheet" th:href="@{https://unicons.iconscout.com/release/v4.0.0/css/line.css}">
  <link rel="shortcut icon" type="image/png" th:href="@{../images/logos/favicon.png}" />
  <link rel="stylesheet" th:href="@{../css/styles.min.css}" />
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css}" integrity="sha512-..." crossorigin="anonymous" />
</head>

<body>
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a th:href="@{/home/home}" class="text-nowrap logo-img">
        <img th:src="@{../images/logos/dark-logo.svg}" width="180" alt="" />
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <div th:replace="layout/sidebarNavigation.html::sidebar"></div>
  </div>
  <!-- End Sidebar scroll-->
</aside>
<div th:replace="layout/header::header"></div>
<div class="container">
  <header>Thêm Khách Hàng</header>
  <form action="#" th:action="@{/home/editBenhNhan}" th:object="${benhNhan}" method="post">
    <div class="form first">
      <div class="details personal">
        <div class="fields">
          <div class="input-field">
            <label>Họ Và Tên</label>
            <input type="text" th:field="*{tenBenhnhan}" placeholder="Enter your name" required>
          </div>

          <div class="input-field">
            <label>Ngày Sinh</label>
            <input type="date" th:field="*{ngaysinh}" placeholder="Enter birth date" required>
          </div>
          <div class="input-field">
            <label>Địa Chỉ</label>
            <input type="text" th:field="*{diachi}" placeholder="Enter your address" required>
          </div>
          <div class="input-field">
            <label>Số Điện thoại</label>
            <input type="text" th:field="*{sodienthoai}" placeholder="Enter your phone" required>
          </div>
          <div class="input-field">
            <label>Email</label>
            <input type="email" th:field="*{email}" placeholder="Enter your email" required>
          </div>
          <div class="input-field">
            <label>Giới Tính</label>
            <select th:field="*{gioitinh}" name="gioitinh">
              <option value="Nam">Nam</option>
              <option value="Nữ">Nữ</option>
            </select>
          </div>
          <button class="nextBtn">
            <span class="btnText">Thêm</span>
            <i class="uil uil-navigator"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<script th:src="@{../libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{../libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../js/sidebarmenu.js}"></script>
<script th:src="@{../js/app.min.js}"></script>
<script th:src="@{../libs/apexcharts/dist/apexcharts.min.js}"></script>
<script th:src="@{../libs/simplebar/dist/simplebar.js}"></script>
<script th:src="@{../js/dashboard.js}"></script>
</body>
</html>
